<head>
  <meta charset = "utf-8">
  <meta name = "viewport" content = "width = device-width, initial-scale = 1">
  {% load django_simple_bulma %}
  {% bulma %}
  <title>
    mysite - {% block title %}{% endblock %}
  </title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item"
        href="{% url 'index' %}">
            <strong>MySite</strong>
        </a>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="myNav">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="myNav" class="navbar-menu">
        <div class="navbar-start"></div>
        <div class="navbar-end">
            <div class="navbar-item">
                <a href="{% url 'blog:blog' %}">Blog</a>
            </div>
            <div class="navbar-item">
                <a>About</a>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            // Get all "navbar-burger" elements
            const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);

            // Check if there are any navbar burgers
            if ($navbarBurgers.length > 0) {
                // Add a click event on each of them
                $navbarBurgers.forEach( el => {
                    el.addEventListener('click', () => {
                        // Get the target from the "data-target" attribute
                        const target = el.dataset.target;
                        const $target = document.getElementById(target);

                        // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                        el.classList.toggle('is-active');
                        $target.classList.toggle('is-active');
                    });
                });
            }
        });
    </script>
    </nav>
    <section class="section">
        <div class="container">  
            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </div>
    </section>
  
    <footer class="footer">
        <p>
            Django hello world blog. Made by <strong>Hedy Li</strong>
        </p>
    </footer>
</body>