{% extends "base.html" %}

{% block body %}

    <h2 class="title is-2">{% block title %}All Blog Posts{% endblock %}</h2>

    {% if posts %}
        <p class="subtitle">
        Total: {{posts|length}} post{{posts|length|pluralize}}
        </p>
        <br>

        {% for post in posts %}
            <h4 class="title is-4">
                <a href="{% url 'blog:post' post.id %}">{{ post.title }}</a>
            </h4>
            <p>
                <strong>{{ post.pub_str }}</strong>
                {% if is_admin %}
                    &nbsp;&nbsp;&nbsp;&nbsp;
                    <strong>
                        {{ post.views }} view{{ post.views | pluralize }}
                    </strong>
                {% endif %}
            </p>
            <p>{{ post.excerpt|striptags }}</p>
            <br>
        {% endfor %}

    {% endif %}
{% endblock %}