{% extends "base.html" %}
{% load markdown_extras %}

{% load static %}
{% block head %}
    <link href="{% static 'css/highlight.css' %}" rel="stylesheet"
          type="text/css" media="screen">
{% endblock %}

{% block body %}
{% if post %}
<div align="center">
    <h1 class="title is-2">
        {% block title %}{{post.title}}{% endblock %}
    </h1>
    <p>
        <strong>Published: {{post.pub_str}}</strong>
    </p>
</div>

<hr>
<div>
    <p>{{ post.content | markdown | safe }}</p>
</div>
<hr>

<p><strong>{{ post.likes }} like{{post.likes|pluralize}}</strong></p>
<!-- like button :) -->
<form action="{% url 'blog:like' post.id %}" method="post">
    {% csrf_token %}
    <button type="submit" value="like" class="button is-primary is-small">Like this post</button>
</form>
<a class="button is-small" href="{% url 'blog:blog' %}">Back to blog</a>

{% endif %}
{% endblock %}