{% extends "base.html" %}

{% load static %}
{% block head %}
    <link href="{% static 'css/highlight.css' %}" rel="stylesheet"
          type="text/css" media="screen">
{% endblock %}

{% block body %}
{% if post %}
<div align="center">
    <h1 class="title is-2">
        {% block title %}{{post.title}}{% endblock %}
    </h1>
    <p>
        <strong>Published: {{post.pub_str}}</strong>
    </p>
</div>

<hr>
<div>
    <p>{{ post.html | safe }}</p>
</div>
<hr>

<div class="columns">
    <div class="column is-1">
        <p><strong>
            {{ post.likes }} like{{post.likes|pluralize}}
        </strong></p>
    </div>
    <div class="column">
        <div class="columns is-mobile">
            <div class="column is-1">
                <a
                href="#"
                class="button is-primary is-outlined is-small is-pulled-left"
                onclick="document.getElementById('like').submit();">
                    Like this post
                </a>
            </div>
            <div class="column"></div>
            <div class="column is-1">
                <a class="button is-outlined is-small is-pulled-right" href="{% url 'blog:blog' %}">
                Back to blog
                </a>
            </div>
        </div>
    </div>
</div>

<form id="like" action="{% url 'blog:like' post.id %}" method="post">
    {% csrf_token %}
</form>
{% endif %}
{% endblock %}